In [1]:
filename = '2024 03 26 SEMANA 12 FACTURACION DEL 18 AL 24 DE MARZO DEL 2024.xlsx'
year = 2024
week = 12

Libraries

In [2]:
import pandas as pd
import pyodbc
import os
import numpy as np
# import jupyternotify
from datetime import datetime
from datetime import timedelta

# ip = get_ipython()
# ip.register_magics(jupyternotify.JupyterNotifyMagics)

# pd.io.formats.excel.ExcelFormatter.header_style = None
# pd.options.display.float_format = '{:,.2f}'.format

# Parameters

In [3]:
path = r'\\NASPRO.infovisiontv.com\DGI\DGI Banco Central\00 CIERRES SEMANALES\{0}\{0} {1}'
path = path.format(year, str(week).zfill(2))

# Import Data

'Grupo de artículos'

In [4]:
%%time
#df = pd.read_excel(path + '\\' + filename, sheet_name='YOSAF', dtype={'Grupo de artículos':'str', 'Tp.cambio p.contab.':'str', 'Lote':'str'})
df = pd.read_excel(path + '\\' + filename, sheet_name='Sheet1', dtype={'Grupo de artículos':'str', 'Tp.cambio p.contab.':'str', 'Lote':'str'})

CPU times: total: 969 ms
Wall time: 7.29 s

df[['Grupo de artículos', 'Tp.cambio p.contab.', 'Lote']].dtypes

In [5]:
df.shape

(13408, 51)

In [6]:
df.head(1)

,Doc.fact.,Entrega,Asignación,Referencia cliente,Canal distribución,Posición,Documento de ventas,Posición.1,Referencia cliente.1,Material,...,Nombre empresa,Organización ventas,Centro,Almacén,Lote,FeCaduc/FePreferCons,Motivo pedido,Descripción Motivo Pedido,Valor neto.1,Moneda del documento
0,5277449.0,45350896.0,196351465,NaN,A1,10.0,45350896.0,10.0,196351465,9.100000e+09,...,GLI GENOMMA LAB INT,VNMX,MX01,NaN,NaN,NaT,X1,Roll Back ejecución comercial,147282.0,MXN

In [7]:
df = df.drop(['Entrega', 'Asignación','Referencia cliente','Canal distribución'], axis=1)
df = df.reset_index(drop = True)

In [8]:
df.tail(10)

,Doc.fact.,Posición,Documento de ventas,Posición.1,Referencia cliente.1,Material,Cd.Barra,Denomin.posición,Solicitante,Nombre,...,Nombre empresa,Organización ventas,Centro,Almacén,Lote,FeCaduc/FePreferCons,Motivo pedido,Descripción Motivo Pedido,Valor neto.1,Moneda del documento
13398,196363143.0,43.0,15415107.0,20.0,4507744649 (sx12.hue,8.100006e+09,NaN,SX ADU 8IONES NARA MAN 630ML 1222/12,1100088,ABARROTERA DEL DUERO,...,GLI GENOMMA LAB INT,VNMX,MXP1,MXPL,B240071,2026-02-09,NaN,NaN,1.386180e+04,MXN
13399,196363144.0,20.0,15414849.0,20.0,105(4),8.100006e+09,NaN,SX ADU 8IONES LIMALIMON 630ML 1222/12,1100813,ABARROTES SAN JUAN HEHE,...,GLI GENOMMA LAB INT,VNMX,MXP1,MXPL,4040002216,2026-01-29,NaN,NaN,2.054808e+05,MXN
13400,196363144.0,40.0,15414849.0,40.0,105(4),8.100006e+09,NaN,SX ADU 8IONES COCO 630ML 1222/12,1100813,ABARROTES SAN JUAN HEHE,...,GLI GENOMMA LAB INT,VNMX,MXP1,MXPL,406700221H,2026-02-25,NaN,NaN,1.027404e+05,MXN
13401,196363144.0,60.0,15414849.0,60.0,105(4),8.100006e+09,NaN,SX ADU 8IONES ALOE VERA LY 630ML 1222/12,1100813,ABARROTES SAN JUAN HEHE,...,GLI GENOMMA LAB INT,VNMX,MXP1,MXPL,3353002217,2025-12-08,NaN,NaN,1.027404e+05,MXN
13402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,5.210261e+08,MXN
13403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,5.881682e+05,USD
13404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
13405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
13406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
13407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

# Data Cleaning

En esta línea omitimos las 6 filas nulas: (o las que vengan con NaN)

In [9]:
df = df[:df.shape[0]-6]

In [10]:
df.isnull().sum()[df.isnull().sum() > 0]

Referencia cliente.1             5
Cd.Barra                      5256
RFC                           3673
Nº cuenta anterior             398
Destinatario mcía.               5
Nombre.1                         5
Descripción CeBe                 5
Almacén                        656
Lote                           657
FeCaduc/FePreferCons           657
Motivo pedido                12341
Descripción Motivo Pedido    12341
dtype: int64

Aquí renombraremos las columnas:

In [11]:
new_cols = [
     'Factura',
     'Posicion',
     'DocumentoVentas',
     'PosicionDV',
     'NumeroPedCliente',
     'Material',
     'CodigoBarras',
     'Denominacion',
     'Solicitante',
     'Nombre',
     'RFC',
     'CNAC',
     'GrupoCuentas',
     'GrupoTesoreria',
     'DestinatarioMcia',
     'NombreDestinatario',
     'CantidadFacturada',
     'UnidadMedida',
     'CtdFactUMB',
     'UnidadMedidaBase',
     'PrecioUnitario',
     'ImpuestoBase',
     'ImpuestoDescuento',
     'ValorNeto',
     'ImporteImpuesto',
     'ImpuestoIEPS',
     'ImpuestoTotal',
     'CentroBeneficio',
     'DescripcionCebe',
     'TipoUnidades',
     'FechaFactura',
     'GrupoArticulos',
     'DenominacionArticulos',
     'ClaseFactura',
     'DenominacionTipoDocto',
     'CambioContable',
     'Sociedad',
     'Nombreempresa',
     'OrganizacionVentas',
     'Centro',
     'Almacen',
     'Lote',
     'FechaCaducidad',
     'MotivoPedido',
     'DescMotivoPedido',
     'ValorNetoAbs',
     'Moneda'
]

In [12]:
df.columns = new_cols
df.shape

(13402, 47)

Estas columnas en vez de tener nulos, deben ser 5 espacios vacío, sino se cumple esto, no se verá reflajada la data de facturación:

In [13]:
cols_nulls = ['RFC', 'CNAC', 'Almacen', 'Lote', 'MotivoPedido', 'DescMotivoPedido']
for col in cols_nulls: 
    df[col].fillna('     ', inplace=True)

In [14]:
df.isnull().sum()[df.isnull().sum() > 0]

NumeroPedCliente         5
CodigoBarras          5256
DestinatarioMcia         5
NombreDestinatario       5
DescripcionCebe          5
FechaCaducidad         657
dtype: int64

In [15]:
df['Solicitante'] = df['Solicitante'].astype('str')

In [16]:
masked = df['Solicitante'].apply(lambda x: ('CMX20' in x))
df = df[~masked]

In [17]:
df['Solicitante'] = df['Solicitante'].astype(float)

Transformamos de decimales a enteros las siguientes columnas:

In [18]:
cols_int = [
    'Factura',
    'Posicion',
    'DocumentoVentas',
    'PosicionDV',
    'Material',
    'Solicitante',
    'CtdFactUMB',
    'ImpuestoDescuento',
    'ImpuestoIEPS',
]

In [19]:
df['Solicitante'].unique()

array([1100008., 1100017., 1100018., 1100037., 1100046., 1100215.,
       1100077., 1100000., 1100035., 1101504., 1100012., 1100029.,
       1100042., 1100103., 1100217., 1100252., 1100810., 1100034.,
       1100060., 1100074., 1100078., 1100247., 1100415., 1100420.,
       1101044., 1101318., 1100022., 1100005., 1100009., 1100010.,
       1101051., 1101442., 1100006., 1100083., 1100088., 1100523.,
       1100842., 1101405., 1100040., 1100031., 1100631., 1300005.,
       1100961., 1300014., 1100024., 1100027., 1100522., 1101096.,
       1101437., 1100245., 1100013., 1100019., 1100039., 1100061.,
       1100062., 1100076., 1100222., 1100638., 1101393., 1100278.,
       1100011., 1300015., 1100050., 1101556., 1101678., 1100036.,
       1100093., 1100104., 1101024., 1101436., 1100070., 1100082.,
       1100073., 1100049., 1100813., 1101395., 1101397., 1100003.,
       1300013., 1100887., 1100885., 1100811., 1101462., 1101259.,
       1101309., 1101411., 1101023., 1300012., 1300024., 1300018.,
       7000010., 1101315., 1101555., 1101631., 1101638., 1101646.,
       1101656., 1101676., 1101554., 1101400., 1101657., 1100026.,
       1100660., 1100293., 1100053.])

In [20]:
for col in cols_int:
    print(col)
    df[col] = df[col].map(int)

Factura
Posicion
DocumentoVentas
PosicionDV
Material
Solicitante
CtdFactUMB
ImpuestoDescuento
ImpuestoIEPS

Verificamos que estas dos columnas sean fechas (sino lo son pues hay que convertirlas):

In [21]:
df[['FechaCaducidad', 'FechaCaducidad']].dtypes

FechaCaducidad    datetime64[ns]
FechaCaducidad    datetime64[ns]
dtype: object

Verificar que las fechas de factura y caducidad tengan sentido (por ejemplo que no caduque en el año 9999):

In [22]:
print('FechaFactura desde:', df['FechaFactura'].min())
print('FechaFactura hasta:', df['FechaFactura'].max())

FechaFactura desde: 2024-03-18 00:00:00
FechaFactura hasta: 2024-03-24 00:00:00

In [23]:
print('FechaCaducidad desde:', df['FechaCaducidad'].min())
print('FechaCaducidad hasta:', df['FechaCaducidad'].max())

FechaCaducidad desde: 2023-02-28 00:00:00
FechaCaducidad hasta: 2029-03-03 00:00:00

# Validations

In [24]:
conn = pyodbc.connect('Driver={SQL Server};'
                     'Server=SFEDWH01;'
                     'Trusted_Connection=yes;')

In [25]:
conn_2= pyodbc.connect('Driver={SQL Server};'
                     'Server=SFECLUSQL08\ODS;'
                     'Trusted_Connection=yes;')

In [26]:
qtime = '''SELECT DISTINCT 
                Fecha as TmpFecha,
                SemNumero AS SemanaGL,
                SemAnio AS AnioGL
  FROM [MarketingDataMart].[dbo].[Dim_Tiempo]'''

In [27]:
dtime = pd.read_sql(qtime, conn_2)

C:\Users\acbarrera\AppData\Local\Temp\ipykernel_38276\286322697.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dtime = pd.read_sql(qtime, conn_2)

In [28]:
df = df.merge(dtime, left_on='FechaFactura', right_on='TmpFecha', how='left')

In [29]:
df.pivot_table(
    index='SemanaGL', 
    values=['ValorNeto'],
    aggfunc='sum'
)

             ValorNeto
SemanaGL
12        4.533590e+08

In [30]:
df.pivot_table(
    index='SemanaGL', 
    values='Factura',
    aggfunc='count',
    margins=True
)

          Factura
SemanaGL
12          13397
All         13397

In [31]:
df.pivot_table(
    index='ClaseFactura', 
    values='ValorNeto', 
    aggfunc='sum'
)

                 ValorNeto
ClaseFactura
S1           -1.563723e+06
S2            4.279361e+04
ZDEV         -1.173042e+04
ZF2           4.253937e+08
ZFEC          2.340074e+05
ZFVE          5.759590e+03
ZFVI          2.406832e+05
ZIEM          9.369683e+06
ZNCD         -5.422238e+04
ZRES         -3.368318e+07
ZRMX          1.152000e+04
ZSER          4.114382e+04
ZSFE          5.672251e+07
ZSRE         -3.389928e+06

In [32]:
mask = df['ClaseFactura'].apply(lambda x: ('ZNCD' in x))
df = df[~mask]

In [33]:
df.pivot_table(
    index='SemanaGL', 
    values=['ValorNeto'],
    aggfunc='sum'
)

             ValorNeto
SemanaGL
12        4.534133e+08

In [34]:
df.pivot_table(
    index='SemanaGL', 
    values='Factura',
    aggfunc='count',
    margins=True
)

          Factura
SemanaGL
12          13350
All         13350

In [35]:
# Convertir la columna 'CodigoBarras' a tipo bigint
df['CodigoBarras'] = pd.to_numeric(df['CodigoBarras'], errors='coerce', downcast='integer')

In [36]:
df['CodigoBarras'].unique()

array([           nan, 6.50240001e+11, 7.50131863e+12, 6.50240017e+11,
       6.50240025e+11, 6.50240032e+11, 6.50240066e+11, 6.50240032e+11,
       6.50240027e+11, 6.50240062e+11, 6.50240062e+11, 6.50240007e+11,
       6.50240033e+11, 6.50240069e+11, 6.50240069e+11, 6.50240007e+11,
       6.50240010e+11, 6.50240053e+11, 6.50240011e+11, 6.50240058e+11,
       6.50240033e+11, 7.50954603e+12, 6.50240016e+11, 6.50240066e+11,
       6.50240036e+11, 6.50240065e+11, 6.50240070e+11, 6.50240022e+11,
       6.50240036e+11, 6.50240069e+11, 6.50240069e+11, 6.50240033e+11,
       6.50240065e+11, 6.50240007e+11, 6.50240011e+11, 6.50240020e+11,
       7.50131868e+12, 6.50240014e+11, 6.50240028e+11, 6.50240032e+11,
       6.50240032e+11, 7.79814026e+12, 6.50240029e+11, 7.79814026e+12,
       7.79814026e+12, 7.79814026e+12, 7.79814026e+12, 6.50240061e+11,
       6.50240053e+11, 6.50240028e+11, 6.50240012e+11, 6.50240067e+11,
       6.50240036e+11, 6.50240036e+11, 6.50240032e+11, 7.50131861e+12,
       7.50131868e+12, 7.50131867e+12, 7.50131861e+12, 7.50131869e+12,
       6.50240063e+11, 6.50240056e+11, 6.50240031e+11, 6.50240032e+11,
       6.50240033e+11, 6.50240035e+11, 6.50240028e+11, 6.50240036e+11,
       6.50240036e+11, 6.50240033e+11, 6.50240052e+11, 6.50240030e+11,
       6.50240062e+11, 6.50240023e+11, 6.50066003e+11, 6.50240059e+11,
       6.50240007e+11, 6.50240006e+11, 6.50240028e+11, 6.50240029e+11,
       6.50240029e+11, 6.50240002e+11, 6.50240032e+11, 7.79814026e+12,
       6.50240017e+11, 6.50240007e+11, 6.50240010e+11, 6.50240032e+11,
       6.50240013e+11, 6.50240054e+11, 6.50240014e+11, 6.50240007e+11,
       6.50240035e+11, 6.50240022e+11, 6.50240024e+11, 6.50200029e+11,
       6.50240068e+11, 6.50240062e+11, 6.50240069e+11, 7.50106563e+12,
       7.50106563e+12, 6.50240015e+11, 6.50240054e+11, 6.50240033e+11,
       6.50240056e+11, 7.50131863e+12, 6.50240033e+11, 6.50240028e+11,
       6.50240007e+11, 6.50240051e+11, 6.50240004e+11, 6.50240026e+11,
       6.50240052e+11, 6.50240025e+11, 7.50109860e+12, 6.50240007e+11,
       6.50240010e+11, 6.50240011e+11, 6.50240011e+11, 6.50240011e+11,
       6.50240022e+11, 6.50240028e+11, 6.50240026e+11, 6.50240029e+11,
       6.50240031e+11, 6.50240033e+11, 6.50240031e+11, 6.50240037e+11,
       6.50240036e+11, 6.50240040e+11, 6.50240070e+11, 6.50240066e+11,
       6.50240012e+11, 6.50240023e+11, 6.50240029e+11, 6.50240016e+11,
       7.50131863e+12, 6.50240030e+11, 6.50240008e+11, 6.50240016e+11,
       6.50240029e+11, 6.50240065e+11, 6.50240005e+11, 6.50240030e+11,
       6.50240036e+11, 6.50240002e+11, 6.50240032e+11, 6.50240015e+11,
       6.50240032e+11, 6.50240032e+11, 6.50240035e+11, 6.50240061e+11,
       6.50240015e+11, 6.50240031e+11, 6.50240034e+11, 6.50240033e+11,
       6.50240025e+11, 6.50240025e+11, 6.50240025e+11, 6.50240025e+11,
       6.50240033e+11, 6.50240036e+11, 6.50240037e+11, 6.50240051e+11,
       6.50240052e+11, 6.50240057e+11, 6.50240053e+11, 6.50240057e+11,
       6.50240069e+11, 6.50240034e+11, 6.50240026e+11, 6.50240026e+11,
       6.50240050e+11, 6.50240026e+11, 6.50240026e+11, 6.50240050e+11,
       6.50240050e+11, 6.50240050e+11, 6.50240025e+11, 6.50240057e+11,
       6.50240066e+11, 6.50240064e+11, 6.50240064e+11, 6.50240066e+11,
       3.10742037e+11, 6.50240019e+11, 6.50240054e+11, 6.50240025e+11,
       6.50240025e+11, 6.50240033e+11, 6.50240051e+11, 6.50240057e+11,
       6.50240026e+11, 6.50240026e+11, 6.50240026e+11, 6.50240050e+11,
       3.10742037e+11, 6.50240069e+11, 6.50240025e+11, 6.50240033e+11,
       6.50240007e+11, 6.50240012e+11, 7.50954600e+12, 6.50240026e+11,
       6.50240026e+11, 6.50240026e+11, 6.50240025e+11, 6.50240026e+11,
       6.50240027e+11, 6.50240026e+11, 6.50240010e+11, 6.50240030e+11,
       6.50240031e+11, 6.50240031e+11, 6.50240032e+11, 6.50240033e+11,
       6.50240036e+11, 7.79814025e+12, 6.50240069e+11, 6.50240069e+11,
       6.50240071e+11, 6.50240033e+11, 6.50240015e+11, 7.50106563e+12,
       6.50240027e+11, 6.50240032e+11, 6.50240008e+11, 6.50240022e+11,
       6.50240069e+11, 6.50240063e+11, 6.50240063e+11, 6.50240070e+11,
       6.50240067e+11, 3.10742037e+11, 6.50240056e+11, 6.50240056e+11,
       6.50240056e+11, 7.79814026e+12, 6.50240030e+11, 6.50240030e+11,
       6.50240025e+11, 6.50240004e+11, 6.50240004e+11, 6.50240020e+11,
       6.50240032e+11, 6.50240057e+11, 6.50240025e+11, 6.50240025e+11,
       6.50240030e+11, 6.50240058e+11, 6.50240059e+11, 6.50240029e+11,
       6.50240037e+11, 6.50240010e+11, 6.50240020e+11, 6.50240068e+11,
       6.50240060e+11, 7.50131863e+12, 6.50240064e+11, 6.50066003e+11,
       6.50066003e+11, 6.50240067e+11, 6.50240022e+11, 6.50240072e+11,
       6.50240070e+11, 6.50240070e+11, 6.50240070e+11, 6.50240070e+11,
       6.50240020e+11, 6.50240056e+11, 6.50240070e+11, 6.50240064e+11,
       7.50103591e+12, 6.50240056e+11, 6.50240027e+11, 6.50240050e+11,
       7.50131868e+12, 6.50240057e+11, 6.50240062e+11, 6.50240037e+11,
       6.50240050e+11, 6.50240028e+11, 6.50240066e+11, 6.50240070e+11,
       7.50131869e+12, 6.50240033e+11, 6.50240032e+11, 6.50240032e+11,
       6.50240032e+11, 6.50240058e+11, 6.50240066e+11, 6.50240033e+11,
       6.50240035e+11, 6.50240063e+11, 6.50240070e+11, 7.80465193e+12,
       7.80465193e+12, 6.50240066e+11, 6.50240009e+11, 2.00001278e+09,
       6.50240066e+11, 6.50240012e+11, 6.50240005e+11, 6.50240063e+11,
       6.50240035e+11, 8.10000481e+09, 8.10000592e+09, 8.10000593e+09,
       8.10000362e+09, 8.10000100e+09, 8.10000101e+09, 8.10000409e+09,
       8.10000475e+09, 8.10000427e+09, 8.10000460e+09, 8.10000475e+09,
       8.10000502e+09, 8.10000403e+09, 8.10000558e+09, 8.10000176e+09,
       8.10000576e+09, 8.10000575e+09, 8.10000615e+09, 8.10000615e+09,
       8.10000409e+09, 8.10000601e+09, 8.10000506e+09, 8.10000042e+09,
       8.10000499e+09, 8.10000578e+09, 8.10000578e+09, 8.10000591e+09,
       8.10000335e+09, 8.10000564e+09, 8.10000627e+09, 8.10000627e+09,
       8.10000523e+09, 8.10000585e+09, 8.10000577e+09, 8.10000616e+09,
       8.10000615e+09, 8.10000150e+09, 8.10000302e+09, 8.10000521e+09,
       8.10000521e+09, 8.10000521e+09, 8.10000482e+09, 8.10000417e+09,
       8.10000590e+09, 8.10000331e+09, 8.10000333e+09, 8.10000475e+09,
       8.10000561e+09, 8.10000305e+09, 8.10000320e+09, 8.10000438e+09,
       8.10000585e+09, 8.10000516e+09, 8.10000613e+09, 8.10000542e+09,
       8.10000541e+09, 6.50240035e+11, 6.50240063e+11, 6.50240032e+11,
       6.50240032e+11, 6.50240063e+11, 6.50240069e+11, 7.50103591e+12,
       6.50240034e+11, 6.50240070e+11, 6.50240026e+11, 6.50240002e+11,
       6.50200029e+11, 6.50240022e+11, 6.50240069e+11, 6.50240068e+11])

In [37]:
df.pivot_table(
    index='FechaFactura', 
    values='Factura',
    aggfunc='count',
    margins=True
)

                     Factura
FechaFactura
2024-03-18 00:00:00     2116
2024-03-19 00:00:00     1787
2024-03-20 00:00:00     2702
2024-03-21 00:00:00     2037
2024-03-22 00:00:00     1037
2024-03-23 00:00:00     1640
2024-03-24 00:00:00     2031
All                    13350

In [38]:
df.pivot_table(
    index='MotivoPedido', 
    values='ValorNeto', 
    aggfunc='sum'
)

                 ValorNeto
MotivoPedido
              4.904553e+08
M01          -1.315631e+05
M04          -6.804664e+04
M05          -2.173317e+05
M06          -1.356922e+06
M07          -7.264337e+04
M08          -6.125448e+04
M09          -6.482537e+05
M13          -5.486841e+05
M14          -2.391318e+05
M20          -5.782740e+04
X1           -3.180535e+07
Y01          -1.835042e+06

In [39]:
df.to_excel(path + '\\Cargar ' + filename.split('.')[0] + '.xlsx',
            index=False,
            sheet_name='carga')